#contactForm .h4 {
    font-weight: 400;
    border-bottom: 1px solid silver;
  }
  
  .required-input {
    color: maroon;
  }
  
  .static-map {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) and (min-width: 767px) {
    #contactForm .static-map img {
      width: 100%;
    }
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    --bs-body-bg: rgba(255,255,255,0);
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .dh-header-non-rectangular-container h1, p {
    color: white;
    font-weight: bold;
  }
  
  .clearmargin {
    margin: 0px;
  }
  
  .clearpadding {
    padding: 0px;
  }
  
  .row-image-txt {
    background-color: rgb(42,42,42);
  }
  
  .row-image-txt h1 {
    color: white;
  }
  
  .row-image-txt p {
    color: white;
  }
  
  .row {
    margin: 0 auto;
  }
  
  footer {
    width: 100%;
    height: 190px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 20px;
  }
  
  @media (max-width: 800px) {
    footer {
      margin-top: 280px;
    }
  }
  
  @media (max-width: 600px) {
    footer {
      margin-top: 350px;
    }
  }
  
  @media (max-width: 400px) {
    footer {
      margin-top: 350px;
      text-align: center;
    }
  }
  
  #footerinfo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
  
  @media (max-width: 576px) {
    #footerinfo {
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }
  }
  
  #ignicionlogo {
    background-image: url("../../assets/img/Logo%20Ignicion%20TMb.png");
    margin-top: -40px;
    width: 59px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  a:hover {
    color: #1e1e1e;
    text-decoration: underline;
  }
  
  #direction-f {
    margin-top: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  
  .gift {
    width: 100%;
    border: 1px solid #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    position: relative;
  }
  
  .gift__img {
    text-align: center;
    padding: 10px;
    border: none;
  }
  
  .gift__img img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
  
  .gift__name {
    font-size: 20px;
    display: block;
    font-weight: 700;
    font-style: normal;
    margin: 2px 0 10px 0;
    color: #4c4c4c;
    text-align: left;
  }
  
  .gift__details {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    line-height: 18px;
    font-style: italic;
  }
  
  .gift__details p {
    padding: 0;
    margin-bottom: 3px;
  }
  
  .gift__bottom {
    padding: 10px 0;
  }
  
  .gift__price-wrap {
    color: #444444;
    line-height: 18px;
    font-size: 15px;
  }
  
  .gift__normal-price {
    font-size: 15px;
  }
  
  .gift__normal-price .gift__data {
    text-decoration: line-through;
  }
  
  .gift__today-price {
    font-weight: bold;
    margin-top: 5px;
  }
  
  .gift__today-price .gift__data {
    color: green;
    font-size: 20px;
  }
  
  .gift__quantity-left {
    margin-top: 5px;
  }
  
  .gift__cta-wrap {
    text-align: center;
    margin-top: 10px;
  }
  
  .gift__cta {
    max-width: 265px;
    background-color: #01a8ff;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding: 17px 15px 17px;
    outline: none;
    line-height: 18px;
    transition: all 0.3s;
  }
  
  .gift__cta:hover {
    background: #3e5062;
    text-decoration: none;
    color: #fff;
  }
  
  .gift__cta-note {
    font-size: 13px;
    color: #336f25;
    padding-top: 5px;
    display: block;
  }
  
  .gift__rating {
    margin: 10px 0 0;
    text-align: center;
  }
  
  .gift__rating i {
    color: #FFD700;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .gift__rating-number {
    font-size: 13px;
    margin-left: 4px;
    line-height: 15px;
    vertical-align: text-top;
    margin-bottom: 3px;
  }
  
  @media (min-width: 768px) {
    .gift__img {
      border: 1px solid #e2e2e2;
    }
  }
  
  .no-border {
    border: none !important;
  }
  
  .gift--double {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .gift--double .gift__bottom {
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    .gift__cta {
      font-size: 18px;
    }
  }
  
  .account-block {
    padding: 0;
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
  
  .account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
  }
  
  .text-theme {
    color: #5369f8 !important;
  }
  
  .btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
  }
  
  #main {
    height: 100vh;
    background: url("../../assets/img/segundaimagenindex2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #info {
    width: 90%;
    /*height: 85%;*/
    border-radius: 5px;
    color: var(--bs-gray-dark);
    background-color: rgba(255,255,255, 0.8);
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 12px;
    padding-bottom: 30px;
  }
  
  @media (min-width: 576px) {
    #info {
      max-width: 450px;
    }
  }
  
  #form-login {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  #ventaspro-logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #main {
    height: 100vh;
    background: url("../../assets/img/segundaimagenindex2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #info {
    width: 90%;
    height: 460px;
    border-radius: 5px;
    color: var(--bs-white);
    background-color: rgba(0,0,0, 0.35);
    left: 50%;
    top: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 12px;
  }
  
  @media (min-width: 576px) {
    #info {
      max-width: 350px;
    }
  }
  
  #form-login {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  #ventaspro-logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.icono-modo-toro{
width: 200px;
height: 200px;
}